@model Model.EF.Content
@{
    ViewBag.Title = "Content_detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4" style="margin-top: 210px">
        <ul class="short_ls">
            <li>
                <a href="/">Trang chủ</a>
                <span>/ /</span>
            </li>
            <li>
                <a href="/">Bài viết</a>
                <span>/ /</span>
            </li>
            <li>Chi tiết</li>
        </ul>
    </div>
</div>
<!-- //short-->
<!--About -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">@Model.Name</h3>
        <div class="about-innergrid-agile text-center">
            <h4>@Model.Description</h4>
            <p class="mb-3">@Model.Detail</p>
            <img style="width: 500px; height: auto;" src="@Model.Image"/>
        </div>
        <div class="about-sub-inner text-center mt-lg-4 mt-3">
            <h4>
                Dịch vụ giao hàng nhanh và tốt nhất
            </h4>
            <div class="row">
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-truck"></span>
                    <h5>Shipping</h5>
                    <p class="mt-3">
                        Vận chuyển nhanh. Free ship đối với các đơn sỉ hoặc nội thành Hà Nội.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-phone-volume"></span>
                    <h5>Support</h5>
                    <p class="mt-3">
                        Đội ngũ tư vấn nhiệt tình, xinh đẹp sẵn sàng giải đáp mọi thắc mắc.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 abut-gride">
                    <span class="fas fa-undo"></span>
                    <h5> Return</h5>
                    <p class="mt-3 ">
                        Chính sách ưu đãi, khuyến mãi, bảo hành với phần lớn các mặt hàng.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//about -->